@use "../util" as *;

.header {
  padding-block: rem(40);
  position: fixed;
  width: 100%;
  z-index: 10;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: rem(23);
      font-weight: 800;
      color: var(--text-color);
    }
  }
}
.nav {
  @include breakpoint-down("700") {
    display: none;
  }
  &__links {
    display: flex;
  }
  &__item {
  }
  &__link {
    font-weight: 700;
    font-size: rem(13);
  }
  &__item + &__item {
    margin-left: rem(40);
  }
}
