@use "../util" as *;

.hero {
  height: 100vh;
  padding-top: rem(50);
  .container {
    display: flex;
    align-items: center;
  }
  &__content {
    width: 100%;
    &__subtitle {
      color: var(--orange);
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: rem(22);
      line-height: 29px;

      color: #ff9900;
    }
    &__title {
      font-weight: 800;
      font-size: rem(54);
      line-height: rem(73);
      color: #000000;
      margin-block: rem(20);
    }
    &__desc {
      font-size: rem(17);
      line-height: rem(23);
      letter-spacing: 0.01em;
      color: var(--text-color);
      margin-bottom: rem(30);
    }
  }

  &__bg {
    position: absolute;
    right: 0;
    width: 603px;
    height: 573px;
    z-index: -1;
    background: url("/imgs/hero-bg.jpg");
    background-size: cover;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03))
      drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778))
      drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222))
      drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015))
      drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778))
      drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222));
  }
  .bg-color {
    background: #bdccff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 38%;
    z-index: -2;
  }
}
