@use "../util" as *;

.hamburger {
  display: none;

  @include breakpoint-down("700") {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .bar {
    width: rem(25);
    height: rem(3);
    background-color: black;
  }
  .bar + .bar {
    margin-top: 5px;
  }
}

.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  font-size: rem(25);
  &__item + &__item {
    margin-top: rem(20);
  }
}

.btn {
  background: var(--red);
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: rem(17);
  line-height: rem(23);
  letter-spacing: 0.01em;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.search {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  font-size: rem(20);
  line-height: rem(27);
  letter-spacing: 0.01em;
  color: var(--text-color);
  width: calc(62% + 7px);
  border: 1px solid #dadada;

  &__icon {
    padding-inline: rem(30);
  }
  &__input {
    flex: 1;
    border: none;
    font-family: var(--primary-font);
    font-size: rem(20);
    line-height: rem(27);
    letter-spacing: 0.01em;
    color: var(--text-color);
    opacity: 0.3;
  }
  .btn--search {
    padding: rem(25) rem(30);
  }
}

.partners {
  position: absolute;
  bottom: 20px;
  &__title {
    font-size: rem(17);
    line-height: rem(23);
    letter-spacing: 0.01em;
    margin-bottom: rem(30);
    display: inline-block;
  }
  .logos {
    display: flex;
    align-items: center;
  }

  &__logo + &__logo {
    margin-left: rem(20);
  }
}

/* 
.mobile-menu {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
 */
